.dashboard {
    width : 100%;
    display: block;
    align-items: center;
    background-color: rgb(150, 120, 115);
    overflow: auto;
}
.quizLayout{
    background-color: rgb(120, 90, 85);
    align-items: center;
    display: flex;
    overflow: hidden;
}
.MainHeader {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 4vh;
    font-size: 7rem;
    color: whitesmoke;
    
}
.ProgressContainer{
    width: 95%;
    height: 30px;
    background-color: black;
    border: 3.5px solid  black;
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
}
.ProgressBar{
    height: 100%;
    width:0%;
    background-color: white;
    transition: width 0.3s ease;

}
.LearningButtonsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1.5rem 2rem 1rem 2rem;
}
.LearningButton {
    padding: 1.5rem;
    font-size: 10rem;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.5);
    font-family:"Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
    cursor: pointer;
    transition: 0.2s
}
.LearningButton:hover{
    background-color: white;
}